# Dictionaries

Dictionary works on key value pair

In [1]:
my_dictionary={}

In [2]:
type(my_dictionary)

dict

In [3]:
len(my_dictionary)

0

In [4]:
my_dictionary={'name':'Nasir Hussain'}
#                key :  Value

In [5]:
my_dictionary['name']

'Nasir Hussain'

In [6]:
my_dictionary['age']=21

In [7]:
my_dictionary

{'name': 'Nasir Hussain', 'age': 21}

In [8]:
del my_dictionary['age']

In [9]:
my_dictionary

{'name': 'Nasir Hussain'}

In [10]:
my_dictionary[100]="Pakistan"

In [11]:
my_dictionary

{'name': 'Nasir Hussain', 100: 'Pakistan'}

In [16]:
dictionarty_2={"hamza":"genius"}

In [17]:
type(dictionarty_2)

dict

In [18]:
del my_dictionary[100]

In [19]:
my_dictionary={'name':'Nasir Hussain','age':21,'Degree':'Bachelor of Engineering'}

In [20]:
# keys()
# values()
# items()

In [22]:
for h in my_dictionary.keys():
    print(h)

name
age
Degree

In [23]:
for h in my_dictionary.values():
    print(h)

Nasir Hussain
21
Bachelor of Engineering

In [24]:
for h,m in my_dictionary.items():
    print(h, m)

name Nasir Hussain
age 21
Degree Bachelor of Engineering

In [25]:
for h in my_dictionary.keys():
    print(my_dictionary[h])

Nasir Hussain
21
Bachelor of Engineering

# Dictionary functions Do yourself

In [28]:
100 in [1,2,3,4,5,6,7,8,100]

True

In [29]:
'name' in my_dictionary

True

list in list
tupple in list
dictionary in list

tupple in tupple
list in tupple
dictionary in tupple

dictionary in dictionary
list in dictionary
tupple in dictionary

# list in list

In [30]:
a=[22,11,77]
b=[34,76,89]
c=[21,23,67,a,b]
c

[21, 23, 67, [22, 11, 77], [34, 76, 89]]

In [31]:
c[4][2]

89

# Tupple in List

In [33]:
a=1,2,3,4,5
b=2,4,6,8
c=[1,3,a,b]
c

[1, 3, (1, 2, 3, 4, 5), (2, 4, 6, 8)]

In [34]:
c[2][3]

4

In [36]:
del c[2]

In [37]:
c

[1, 3, (2, 4, 6, 8)]

# Dictionary in List

In [38]:
alist =[11,2,56,my_dictionary]
alist

[11,
 2,
 56,
 {'name': 'Nasir Hussain', 'age': 21, 'Degree': 'Bachelor of Engineering'}]

In [39]:
alist[3]["name"]

'Nasir Hussain'

# tupple in tupple

In [40]:
a=1,2,3,4
b=7,6,8,9
c=12,78,a,b
c

(12, 78, (1, 2, 3, 4), (7, 6, 8, 9))

In [41]:
c[2][2]

3

# list in tupple

In [42]:
a=[1,2,3,4]
b=[4,7,8,9]
c=78,66,a,b
c

(78, 66, [1, 2, 3, 4], [4, 7, 8, 9])

# dictionary in dictionary

In [43]:
adict={"name":"pakistan",'ages':21,"feature":my_dictionary}
adict

{'name': 'pakistan',
 'ages': 21,
 'feature': {'name': 'Nasir Hussain',
  'age': 21,
  'Degree': 'Bachelor of Engineering'}}

In [45]:
adict['feature']['age']

21

# tupple in dictionary

In [46]:
adict={"name":"pakistan",'ages':21,"feature":my_dictionary,"flow":(2,4,6,7)}
adict

{'name': 'pakistan',
 'ages': 21,
 'feature': {'name': 'Nasir Hussain',
  'age': 21,
  'Degree': 'Bachelor of Engineering'},
 'flow': (2, 4, 6, 7)}

In [47]:
adict["flow"]

(2, 4, 6, 7)

# dictionary in tupple

In [48]:
a=2,6,8,adict
a

(2,
 6,
 8,
 {'name': 'pakistan',
  'ages': 21,
  'feature': {'name': 'Nasir Hussain',
   'age': 21,
   'Degree': 'Bachelor of Engineering'},
  'flow': (2, 4, 6, 7)})

In [49]:
a[3]

{'name': 'pakistan',
 'ages': 21,
 'feature': {'name': 'Nasir Hussain',
  'age': 21,
  'Degree': 'Bachelor of Engineering'},
 'flow': (2, 4, 6, 7)}

# list in dictionary

In [50]:
adict={"name":"pakistan",'ages':21,"feature":my_dictionary,"design":[1,2,3,4]}
adict

{'name': 'pakistan',
 'ages': 21,
 'feature': {'name': 'Nasir Hussain',
  'age': 21,
  'Degree': 'Bachelor of Engineering'},
 'design': [1, 2, 3, 4]}

In [53]:
adict["design"][2]

3