# LIST

In [3]:
x=[4, 7, 55, 89]#list
x

[4, 7, 55, 89]

In [4]:
name=['Hamza','Mutayyab','Nauman']
name

['Hamza', 'Mutayyab', 'Nauman']

In [5]:
z=['Karachi',1947, 23.7]
z

['Karachi', 1947, 23.7]

In [6]:
fruits =['Bananas','Watermelon','Pineapple','Mango']
#index =    0           1            2          3
fruits[2]

'Pineapple'

In [7]:
len(fruits)#length of List

4

In [8]:
del fruits[1]#inplace delete
fruits

['Bananas', 'Pineapple', 'Mango']

In [9]:
fruits.remove('Mango')# function of remove
fruits

['Bananas', 'Pineapple']

In [10]:
fruits[1]='Mango'#replace value
fruits

['Bananas', 'Mango']

In [11]:
fruits.append('Chickoo')#add the value in list but only in last index
fruits

['Bananas', 'Mango', 'Chickoo']

In [12]:
fruits.insert(0,'Peach')#insert value whereever we want
fruits

['Peach', 'Bananas', 'Mango', 'Chickoo']

In [13]:
fruits.insert(10,'apple')
fruits

['Peach', 'Bananas', 'Mango', 'Chickoo', 'apple']

In [14]:
fruits.index('apple')

4

In [15]:
fruits.insert(10,777)
fruits

['Peach', 'Bananas', 'Mango', 'Chickoo', 'apple', 777]

In [16]:
fruits.count('apple')

1

In [17]:
a = [7777, 7 , 7777 , 77]
a.sort()#ascending order
a

[7, 77, 7777, 7777]

In [18]:
a = [7777, 7 , 7777 , 77]
a.sort(reverse=True)#descending order
a

[7777, 7777, 77, 7]

In [19]:
random =[3,222,1,99,67]
random.reverse() #reverse list without sorting
random

[67, 99, 1, 222, 3]

In [20]:
b = random#pass by reference
b

[67, 99, 1, 222, 3]

In [21]:
random.append(111)
print(random)
print(b)

[67, 99, 1, 222, 3, 111]
[67, 99, 1, 222, 3, 111]

In [22]:
b

[67, 99, 1, 222, 3, 111]

In [23]:
b.append(777)

In [24]:
random

[67, 99, 1, 222, 3, 111, 777]

In [25]:
c = random.copy()

In [26]:
c

[67, 99, 1, 222, 3, 111, 777]

In [27]:
c.append(121)

In [28]:
c

[67, 99, 1, 222, 3, 111, 777, 121]

In [29]:
random

[67, 99, 1, 222, 3, 111, 777]

In [30]:
poppedElement=random.pop()

In [31]:
random

[67, 99, 1, 222, 3, 111]

In [32]:
poppedElement

777

In [33]:
newList=[]

In [46]:
newList.append(random.pop())

In [47]:
newList

[111, 3, 222, 1, 99, 67]

In [48]:
random

[]

In [49]:
newList.pop(2)

222

 # SLICING

In [51]:
alist =[10,9,8,7,6,5,4,3,2,1]
#index = [0,1,2,3,4,5,6,7,8,9]

In [52]:
alist[2:5]#slicing always left to Right

[8, 7, 6]

In [53]:
alist[2:]

[8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
alist[:7]

[10, 9, 8, 7, 6, 5, 4]

In [55]:
alist[5:2]#if trying right to left output empty

[]

In [56]:
students=['Hamza','Mutayyab','Nauman','Mohsin','Vohra',]
#index=      -5       -4        -3       -2       -1

In [59]:
students[-5]

'Hamza'

In [58]:
students[-1]

'Vohra'

In [60]:
students[-3:]

['Nauman', 'Mohsin', 'Vohra']

In [61]:
students[-5:-2]

['Hamza', 'Mutayyab', 'Nauman']

In [63]:
students

['Hamza', 'Mutayyab', 'Nauman', 'Mohsin', 'Vohra']

In [65]:
students[-4:2]

['Mutayyab']

# Tuples

In [66]:
a = (1,2,3,4,5,6)

In [67]:
a

(1, 2, 3, 4, 5, 6)

In [68]:
a[3]

4

In [69]:
a[3]=232

TypeError: 'tuple' object does not support item assignment

In [70]:
a = 2,3,4 #packing

In [71]:
a

(2, 3, 4)

In [72]:
x,y,z = a#unpacking

In [73]:
x

2

In [74]:
y

3

In [75]:
z

4

# List in list tuple in list etcetc

In [76]:
listInlist=[1,2,3,['apple','orange','banana']]

In [77]:
listInlist

[1, 2, 3, ['apple', 'orange', 'banana']]

In [78]:
listInlist[3]

['apple', 'orange', 'banana']

In [79]:
listInlist[3][0]

'apple'

In [80]:
listInlist[3][0]='eggs'

In [81]:
listInlist

[1, 2, 3, ['eggs', 'orange', 'banana']]

In [85]:
alist=[1,2,3,4,['a','b','c']]
alist[4].insert(0,'d')

In [86]:
alist

[1, 2, 3, 4, ['d', 'a', 'b', 'c']]

In [87]:
alist[4].remove('d')

In [88]:
alist

[1, 2, 3, 4, ['a', 'b', 'c']]

In [89]:
lista=[1,2,3,4,('a','b','c')]

In [90]:
lista

[1, 2, 3, 4, ('a', 'b', 'c')]

In [92]:
lista.insert(0,2)

In [93]:
lista

[2, 1, 2, 3, 4, ('a', 'b', 'c')]