# For loop

In [2]:
Students =['hamza','mutayyab','nauman','ali']

In [4]:
for student in Students:
    print(student)

hamza
mutayyab
nauman
ali

In [5]:
for student in Students:
    if student == 'ali':
        print(f'{student} get out')
    else:
        print(f'{student} get in')

hamza get in
mutayyab get in
nauman get in
ali get out

In [7]:
for a in 'Lalokhait':
    print(a , end = " ")

L a l o k h a i t

In [9]:
for num in range(10):
    print(num , end="       ")

0       1       2       3       4       5       6       7       8       9

In [13]:
for num in range(3,100):
    print(num , end="  ")

3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99

In [9]:
a=int(input("ENter the number : "))#table
for num in range (1 , 11):
    print(f'{a} X {num} =',num * a)

ENter the number : 0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0

In [11]:
for num in range(0,77,2):#step value
    print(num , end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76

In [14]:
for num in range(1,77,2):#step value
    print(num , end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75

In [15]:
a=int(input("ENter the number : "))#table
for num in range (1 , 11):
    if num % 2 == 0:
        continue
    else:
        print(f'{a} X {num} =',num * a)

ENter the number : 2
2 X 1 = 2
2 X 3 = 6
2 X 5 = 10
2 X 7 = 14
2 X 9 = 18

In [16]:
a=int(input("ENter the number : "))#table
for num in range (1 , 11):
    if num % 2 == 0:
        break
    else:
        print(f'{a} X {num} =',num * a)

ENter the number : 2
2 X 1 = 2

In [1]:
best_friend=[]
fake_friend=[]

In [2]:
for num in range(5):
    name=input("Enter the name: ")

    if name.startswith('a'):
        fake_friend.append(name)
        print("Your Fake friend are : ",fake_friend)
    else:
        best_friend.append(name)
print("Your Best friends are :",best_friend)

Enter the name: hamza
Enter the name: mutayyab
Enter the name: nauman
Enter the name: osama
Enter the name: aazib
Your Fake friend are :  ['aazib']
Your Best friends are : ['hamza', 'mutayyab', 'nauman', 'osama']

In [3]:
fake_friend

['aazib']

In [4]:
best_friend

['hamza', 'mutayyab', 'nauman', 'osama']

# Nested for loop

In [11]:
for a in [1,2]:
    for b in 'hamza':
        print(a,b)

1 h
1 a
1 m
1 z
1 a
2 h
2 a
2 m
2 z
2 a

In [36]:
for tabnum in range(1,5):
    print(f'Table of {tabnum}')
    print('==============')
    for num in range(1,11):
        print(f'{tabnum} X {num} = {tabnum*num}')

Table of 1
==============
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Table of 2
==============
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Table of 3
==============
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Table of 4
==============
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

# List comprehension

In [37]:
a=[1,2,3,4,5,6,7,8,9]#squaring
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
[num**3 for num in range(1,10)]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [40]:
[num+3 for num in range(1,10)]

[4, 5, 6, 7, 8, 9, 10, 11, 12]

In [41]:
[num**3 for num in range(1,10) if num>4]

[125, 216, 343, 512, 729]

In [42]:
[num**3 for num in range(1,10) if num<4]

[1, 8, 27]

In [43]:
[num*2 for num in range(1,10) if num>4]

[10, 12, 14, 16, 18]